    <section class='room-nav'>
          <h1>Bloc Chat</h1>

          <button type='button' class='btn btn-primary' ng-click='home.addRoom()'>New Room</button>

          <div class='room-name' ng-repeat='room in home.rooms'>
                      <!-- <h3>{{ room.$value }}</h3> -->
                      <p ng-click="home.setCurrentRoom(room)">{{ room.name }}</p>
          </div>
    </section>

<section class='currentRoom'>

      <div class='chat-name'>
          <h3>{{ home.currentRoom.name }}</h3>
      </div>

          <div class='chat-messages' ng-repeat='message in home.messages'>
                <p>{{ message.username }}</p>
                <p>{{ message.sentAt }}</p>

                <p>{{ message.content }}</p>
          </div>
  </section>
