  <section class='room-nav'>
          <h1 class='blocChat'>Bloc Chat</h1>
          <button type='button' class='btn-btn-primary' ng-click='home.addRoom()'>New Room</button>
          <div class='room-name' ng-repeat='room in home.rooms'>
                      <p ng-click="home.setCurrentRoom(room)">{{ room.name }}</p>
          </div>
  </section>

    <section class='footer'>
            <p>{{ currentUser }}</p>
    </section>

<section class='currentRoom'>
      <div class='chat-name'>
          <h3>{{ home.currentRoom.name }}</h3>
      </div>
         <div class='messages-body' ng-repeat='message in home.messages'>
                <div class='username'>{{ message.username }}</div>
                  <p class='timestamp'>{{ message.content }} @{{ message.sentAt | date:' MMM dd y, hh:mm a' }}</p>
          </div>

          <div class='new-message'>
                  <input type='text' class='message-box' ng-model='home.newMessage.content' placeholder='and then..' style='width:500px;' >
                  <button class='btn-new-message' ng-click='home.sendMessage()'>Send message</button>
          </div>
</section>
