  <section class='room-nav'>
          <h1 class='blocChat'>Bloc Chat</h1>

          <button type='button' class='btn-btn-primary' ng-click='home.addRoom()'>New Room</button>

          <div class='room-name' ng-repeat='room in home.rooms'>
                      <!-- <h3>{{ room.$value }}</h3> -->
                      <p ng-click="home.setCurrentRoom(room)">{{ room.name }}</p>
          </div>
  </section>

    <section class='footer'>
            <p>{{ currentUser }}</p>

    </section>

<section class='currentRoom'>

      <div class='chat-name'>
          <h3>{{ home.currentRoom.name }}</h3>
      </div>

          <div class='message-body' ng-repeat='message in home.messages'>
                <div class='username'>{{ message.username }}</div>
                <div class='timestamp'>{{ message.content }} @ {{ message.sentAt | date : "shortTime" }} </div>
                <!-- <div class='user-message'>{{ message.content }}</div> -->
          </div>

          <div class='new-message'>
                  <input type='text' class='message-box' ng-model='home.newMessage.content' placeholder='and then..' >
                  <button class='btn-new-message' ng-click='home.sendMessage()'>Send</button>
          </div>
</section>
